<mdb-card cascade="true" narrower="true">
  <div class="view-cascade gradient-card-header purple-gradient">
    <h4 class="card-title">A propos</h4>
  </div>
  <mdb-card-body cascade="true">
    <mdb-card-text>
        <h2>Qu’est-ce que c’est ?</h2>
        La pointe du cul c’est un podcast qui parle de cul. Plus précisément, de pratiques sexuelles dites alternatives, hors
        des sentiers battus. Pour autant, ce n’est pas un podcast prêchant l’élitisme d’une sexualité plus déviante que la
        moyenne. C’est un podcast qui essaie de montrer à quel point ces pratiques “différentes” ne sont ni plus ni moins
        valables que les autres, que les gens qui les pratiquent ne sont ni plus ni moins “normaux” que les autres. C’est un
        podcast à visée pédagogique et désacralisante, son but est d’explorer la sexualité, d’aller dans les recoins, de
        montrer son incroyable diversité.
        <br>
        <br>
        <h2>Quelle forme ça prend ?</h2>
        Ce podcast fonctionne un peu comme un catalogue. Chaque épisode va parler d’une pratique en particulier, d’un kink,
        d’un fétichisme. Il y aura un·e ou deux invité·e·s, “spécialistes” de leur pratiques, qui ont envie de la faire
        découvrir, d’expliquer ses enjeux, et de nous faire partager ce qu’iels y trouvent d’excitant. Aussi, il y aura un·e
        invité·e qui ne connaîtra pas ou peu la pratique en question, et qui pourra poser toutes les questions qu’iel veut, en
        gardant l’esprit ouvert et bienveillant.
        <br>
        <br>
        <h2>Pour qui est ce podcast ?</h2>
        Pour tout le monde!
        Que vous viviez ou non une sexualité dite “classique”, que vous soyez intrigué·e par une pratique spécifiquement, que
        vous la connaissiez et que vous vouliez en savoir plus, que vous vouliez explorer votre sexualité et que vous
        cherchiez un point de départ, ou que vous soyez simplement curieux·se, ce podcast est fait pour vous!
        Pas besoin de prérequis, de connaissances: chaque terme spécifique est expliqué, et un lexique sera disponible sur le
        site!
        <br>
        <br>
        <h2>Qui suis-je ?</h2>
        Je m’appelle Raphaël, et je suis, depuis maintenant 6 ans, actif dans la communauté BDSM et kinky parisienne. Je
        participe à l’organisation de festivals, d’évènements, de soirées, et d’ateliers en liens avec les sexualités
        alternatives, créatives et inclusives. Je suis aussi secrétaire d’une association nommée “Jeunes, parisiens et kinky”,
        qui a pour but d’accueillir et de conseiller les personnes jeunes et débutantes dans le BDSM et dans les pratiques
        kinky.
        Ayant une formation d’ingénieur du son et aimant beaucoup les podcasts, je me suis lancé dans ce projet pour aider à
        casser un peu les clichés, démystifier le BDSM et les pratiques sexuelles peu communes.Bref, montrer tout ça sous un
        jour positif, sain, tout en faisant de la prévention!
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
