:host {
	height: 100%;
}

main {
	height: 100%;
	overflow-y: auto;
	padding:0;
	background: url("/assets/pattern_noir_2.jpg") no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  padding-top: 100px;
}

mdb-card {
  margin: 0;
}

footer {
	margin-top: 20px;
}
