<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark purple-gradient scrolling-navbar">
    <mdb-navbar-brand><a class="navbar-brand" href="#">La Pointe Du Cul</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">Episodes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="a-propos" routerLinkActive="active">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lexique" routerLinkActive="lexique">Lexique</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="mailto:lapointeducul@gmail.com">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openTab('https://firebasestorage.googleapis.com/v0/b/cdn-lapointeducul.appspot.com/o/rss?alt=media')"><i class="material-icons">rss_feed</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openTab('https://bit.ly/LPDC-Facebook')"><i
              class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openTab('https://bit.ly/LPDC-Twitter')"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openTab('https://bit.ly/LPDC-Insta')"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>