<mdb-card cascade="true" narrower="true">
  <div class="view-cascade gradient-card-header purple-gradient">
    <h4 class="card-title">A propos</h4>
  </div>
  <mdb-card-body cascade="true" class="text-center">
    <mdb-card-text>
      <b>Termes Généralistes</b>
      <br>
      <br><b>Aftercare: </b>période de transition entre les moments de pratique et la vie courante. Elle est dédiée au
      soin (physique
      et mental), à la récupération et la restauration du comportement social habituel (attitude, rapport de force entre
      les
      joueurs, …).
      <br><b>Drop: </b>gros moment de déprime qui a lieu généralement 24 à 48h après le jeu. Ils peuvent ne pas se
      produire, durer
      quelques minutes ou des jours entiers et se traduisent par un sentiment de culpabilité, de la honte, une peur de
      ne
      pas être à la hauteur pour l’autre, le sentiment de ne pas être normal ou qu’on ne nous verra plus que selon nos
      kinks.
      <br><b>Safeword: </b>Le safeword (SW) est un élément de langage verbal ou gestuel permettant de signaler que la
      situation ou
      l’action en cours provoque une gêne. On peut convenir de plusieurs SW pour jauger de l’importance de l’information
      et
      adapter plus aisément l’action.
      <br><b>Top: </b>littéralement celui du Dessus, qui à le controle ou qui exerce ’action pendant une séance de jeu.
      <br><b>Bottom: </b>littéralement celui du dessous, qui donne le contrôle ou qui reçoit l’action pendant une
      session.
      <br><b>Vanille: </b>Personne qui n'a pas de kinks ou de fétiches identifiés, ou personne hors BDSM
      <br><b>Hedoniste: </b>Personne qui considère que la recherche du plaisir est la quête primaire de la vie.
      <br><b>Kinkster: </b>Personne qui a des préférences sexuelles ou un comportement sexuel inhabituels pour la
      société.
      <br><b>Sensualiste: </b>Personne qui considère la recherche du plaisir via les sensations physiques comme un de
      ses objectifs
      principaux dans la vie.
      <br><b>Princesse: </b>Personne qui réclame un soin particulier en terme de compliments, d'attention et de
      précautions.
      <br><b>Slut / Salope: </b>Femme qui se donne la liberté de s'adonner à des relations sexuelles avec qui elle veut,
      comme elle le
      veut. Terme parfois utilisé sans distinction de genre, mais souvent utilisé au féminin car étant une
      réappropriation
      d’une insulte dirigée aux femmes.
      <br><b>Doll / Poupée: </b>Personne qui aime être une poupée, mentalement et physiquement.
      <br><b>SSC: </b>Safe Sane and Consensual soit Sécure, sain et consensuel - (termes datant des années 1980s) pour
      qualifier des
      pratiques/jeux responsables . Lorsqu'on joue en connaissant les limites/risques du jeu et qu'on prévoit en
      fonction
      des potentiels risques = Safe. Lorsqu'on pratique dans un état de corps et d'esprit sain (pas intoxiqué, en ayant
      bien
      dormi etc...) = Sane. Lorsqu'on est bien sûr que tous les participants sont d'accord avec ce qu'il se passe (+ que
      tout le monde est au courant du safewords/peut stopper le jeu à tout moment.) = Consensual.
      <br><b>RACK: </b>Risk Aware Consensual Kink. Soit une pratique du kink informée (notamment en terme de risque). Un
      peu plus
      récent que SSC, il s'agit de pratiques/jeux encore une fois consensuels où tous les participants sont au courant
      des
      potentiels risques et conséquences des jeux/pratique dans la même mesure (si un participant en sait moins que
      l'autre
      c'est pas RACK). Ce terme a pour but de pousser tous les gens investis dans le jeu à se renseigner et à
      communiquer,
      histoire d'être un peu plus responsables.
      PRICK est un autre terme proche (Personal Responsibility, Informed Consensual Kink)
      <br>
      <br>
      <b>Genres</b>
      <br>
      <br><b>Male (M): </b>une personne ayant l'identité et les caractéristiques d'une homme ;
      <br><b>Female (F): </b>une personne ayant l'identité et les caractéristiques d'un femme ;
      <br><b>CrossDresser/Transvestite (CD/TV): </b>une personne qui aime s'habiller et se comporter dans le style et
      les
      manières
      généralement associés au sexe opposé ;
      <br><b>Trans: </b>une personne dont le sens de l'identité personnelle et du sexe ne correspondent pas au sexe biologique
      assigné
      à la naissance.
      <br><b>Male to Female: </b>homme vers femme (MtF)
      <br><b>Female to Male: </b>femme vers homme (FtM)
      <br><b>Transgender (TG): </b>terme vaste qui englobe toutes les personnes qui sortent du cadre traditionnel du
      genre qui leur a
      été assigné ;
      <br><b>Gender Fluid (GF): </b>une personne qui fluctue entre plus d'un genre, ou entre avoir un genre et ne pas
      avoir un
      <br><b>Genderqueer (GQ): </b>une personne dont l'identité de genre ne correspond pas au binaire mâle-femelle.
      <br><b>Intersex (IS): </b>une personne née avec une anatomie reproductive ou sexuelle qui ne semble pas
      correspondre aux
      définitions typiques de femmes ou d'hommes. ;
      <br><b>Butch (B): </b>une personne généralement identifiée comme une femme mais dont les rôles sociaux et
      relationnels sont
      perçus par beaucoup comme masculins, ayant souvent une orientation lesbienne, gay ou queer
      <br><b>Femme (FEM): </b>une personne qui a une apparence ou d'autres caractéristiques traditionnellement
      considérées comme
      féminines, et qui ont souvent une orientation lesbienne, gay ou queer
      <br>
      <br>
      <b>Domination / Soumission</b>
      <br>
      <br><b>Dominant.e: </b>Personne qui exerce un contrôle sur une personne soumise dans une dynamique D/s.
      Abréviation dom/domme
      <br><b>Switch: </b>Personne qui peut se sentir Dominante/sadique ou soumis/masochiste en fonction de son
      partenaire, du contexte
      ou de son humeur, etc. On parle aussi de rope switch dans le bondage, etc…
      <br><b>Soumis.e / Sub: </b>Personne qui donne le contrôle à un(e) Dominant(e) dans une dynamique D/s.
      Brat: Personne sale gosse/ effronté, qui est insolent, répond, et est désobéissant - souvent mais pas toujours
      un
      soumis.
      <br><b>Maitre / Maitresse: </b>Personne qui exerce le contrôle en tant que propriétaire d'un esclave dans une
      relation DS
      <br><b>Esclave: </b>Personne qui donne le contrôle quasi-totale à son Maître/Maîtresse/Propriétaire.
      <br><b>Kajira: </b>esclave féminine dans la culture Goréenne
      <br><b>Kajirus: </b>esclave masculin dans la culture Goréenne
      <br><b>Sissy: </b>Personne qui se livre à un mélange de féminisation et d'humiliation afin d'atteindre un état
      émotionnel ou
      mental différent - généralement un homme soumis.
      <br>
      <br>
      <b>Bondage</b>
      <br>
      <br><b>Rigger: </b>Personne qui pratique l'art du bondage ; la plupart du temps avec de la corde.
      <br><b>Rope Top: </b>littéralement celui "du dessus" avec les cordes (Rope Top), qui pratique le bondage sur un
      Rope Bottom. On
      utilise les termes généralistes rope top ou rope bottom a la différence de rigger quand la pratique n’inclue pas
      seulement les cordes mais peut glisser vers le SM par exemple.
      <br><b>Rope Bottom: </b>littéralement celui "du dessous" avec les cordes (Rope Bottom), qui pratique le bondage
      avec un Rope
      Top.
      <br><b>Rope Bunny: </b>littéralement lapin de corde (Rope Bunny), qui sert de modèle de démonstration avec des
      cordes, comme le
      Shibari.
      <br>
      <br>
      <b>Sado Maso</b>
      <br>
      <br><b>Sadique: </b>Personne qui aime infliger de la douleur et/ou de l'humiliation (émotionnellement et/ou
      physiquement) sur
      une autre personne.
      <br><b>Masochiste: </b>Personne qui aime recevoir de la douleur et/ou de l'humiliation (émotionnellement et/ou
      physiquement)
      d'une autre personne.
      <br><b>Sadomasochiste: </b>Personne qui aime à la fois recevoir et infliger (émotionnellement et/ou
      physiquement) de la douleur
      et/ou de l'humiliation.
      <br><b>Impact play: </b>Jeu qui consiste à infliger de la douleur/à humilier son partenaire en lui tapant
      dessus. La fessée fait
      partie de ces pratiques par exemple, ainsi que de jouer avec des martinets, fouets, cravaches, badines et
      autres…
      <br><b>Spanko / Spankophile: </b>Personne adepte de la fessée qui aime la fessée sans préjugé du rôle.
      <br><b>Spanker / Fesseur.e: </b>Personne qui donne des fessées aux autres.
      <br><b>Spankee / Fessée: </b>Personne, qui aime recevoir des fessées.
      <br>
      <br>
      <b>Ageplay et pratiques connexes</b>
      <br>
      <br><b>Ageplay: </b>L’ageplay est le fait d’incarner un âge différent du sien, généralement plus jeune. Ceci
      librement, pendant
      un temps souhaité et sans lien particulier avec la sexualité
      <br><b>CGL / Caregiver-Little: </b>Terme non genré pour parler de relation D/S dans l’ageplay
      <br><b>DDLG: </b>Dady dom little girl, pratique ou le daddy est un homme et le little une femme.
      <br><b>ABD: </b>Acronyme pour Adult Baby Diaper Lover. Fétichiste des couches, qui peut pratiquer en tant
      qu’ageplayer ou non.
      <br>
      <br>
      <b>Pratiques et fétichismes</b>
      <br>
      <br><b>Fetichiste: </b>Personne qui est excité par un fétiche spécifique.
      <br><b>Leather Man: </b>littéralement Homme de cuir / Femme de cuir, qui exerce le contrôle, terme utilisé dans
      la communauté
      cuir/Leather - terme habituellement masculin. Termes liés : Leather Daddy / Leather Top / Leather bottom /
      Leather boy
      / Leather girl/ Leather Boi
      <br><b>Exhibitionniste: </b>Personne qui aime s'exposer ou s'afficher de manière publique ou semi-publique.
      <br><b>Voyeur/e: </b>Personne qui aime regarder les autres, le plus souvent dans un contexte sexuel, sans
      s'impliquer envers
      eux.
      <br><b>Furry: </b>adepte de personnage anthropomorphique (Furry) , qui s'identifie fortement à un animal
      particulier ou une
      créature anthropomorphe particulière. Comme beaucoup de pratiques fétichistes, elles peuvent être non sexuelles.
      <br><b>Primal: </b>qui définit 1/ ceux qui veulent rompre avec les traditions en créant leur propre mode de vie
      sans règles
      pré-établies ou protocoles pré-définis. 2/ ceux qui se réfèrent à une sorte d'instinct primaire/primitif très
      animal.
      <br><b>Predator Primal: </b>Personne qui cherche à chasser et à dominer sa proie.
      <br><b>Primal Prey: </b>Personne qui cherche à être chassé et se soumettre à un prédateur.
      <br><b>Animal / pet: </b>Personne, qui aime le petplay (jeu d'identification à un animal familier) - souvent comme
      bottom ou
      soumis(e).
      <br><b>Chatton / kitten: </b>Personne qui s'identifie à un chaton ou un chat dans le petplay - souvent comme
      bottom ou
      soumis(e).
      <br><b>Chiot / pup: </b>Personne qui s'identifie à un chiot ou un chien dans le petplay - souvent comme bottom ou
      soumis(e).
      <br><b>Poney / pony: </b>Personne qui s'identifie à un poney ou un cheval dans le petplay - souvent comme bottom ou
      soumis(e).
      <br><b>Fear play: </b>Jeu sur les choses qui provoquent de la peur. Le knife play, qui consiste a jouer avec des
      couteaux, en est
      une sous catégorie
      <br><b>Fire play: </b>jouer avec le feu, littéralement. Ce genre de jeu nécessite l’utilisation de produits
      spécifiques à la
      pratique (on ne met pas le feu à ses petits camarades!)
      <br><b>Trampling & Jumping: </b>Marcher/sauter sur quelqu’un
      <br><b>Pegging: </b>pratique sexuelle lors de laquelle une personne-avec-un-vagin pratique le sexe anal en tant que
      donneur/se
      sur une personne-à-pénis, généralement avec un strap-on dildo
      <br><b>Figging: </b>pratique sexuelle qui consiste à l'insertion un bout de gingembre dans les orifices génitaux
      afin de
      provoquer une sensation de chaleur/brûlure
      <br><b>Wax play: </b>jeu avec de la cire de bougie
      <br><b>CNC - Consensual non-consensual play: </b>Jeu de rôle d’échange de pouvoir généralement à l’extrême, où
      (dans
      un cadre
      négocié au préalable) un top ou prédateur prend le pouvoir sur un bottom sans son accord.
      <br>
      <br>
      <b>Jeux de genres</b>
      <br>
      <br><b>Travestissement: </b>Le travestissement est le fait de s’habiller selon les codes d’un autre genre. Tous les
      travestis ne
      demandent pas à être nommé selon leur nouvelle apparence, la façon de les désigner (madame/monsieur) change pour
      chaque individu avec des motivations qui lui sont propres
      <br><b>Féminisation: </b>pratique de travestissement forcée qui consiste, pour un homme, à prendre une apparence
      plus féminine
      <br><b>Trap: </b>Pratique quasi exclusivement masculine (ou fantasme) qui consiste à se travestir dans le but de
      piéger d’autres
      personnes sur son genre (notion de non consentement). Ce terme peut aussi être employé par un tiers de façon
      négative
      (ou transphobe) pour designer une personne dont le sexe ne correspond pas à son genre à première vu
      <br><b>Shemale: </b>Terme transphobe et catégorie porno/hentai avec des individus ayant « le meilleur des deux
      sexes » soit
      généralement une apparence féminine avec un pénis.
      <br><b>Drag queen / king: </b>Une personne masculine/féminine qui revêt de manière flamboyante et ostensible
      respectivement les
      attributs féminins/masculins pour une performance. Elle ne cherche pas à piéger le spectateur (présence possible
      de
      barbe, voix grave, maquillage…) mais plutôt à jouer sur son genre et son expression.
      <br><b>Androgyne: </b>terme formé des mots grecs homme et femme, en général utilisé pour désigner une personne
      dont on ne sait
      s’il s’agit d’un homme ou d’une femme
      <br>
      <br>
      <b>Pour aller plus loin : </b>
      <br><a href="http://www.bdsmwiki.info/Main_Page">BDSM Wiki</a>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>