<mat-card style="background-color: gainsboro">
  <mat-card-header>
    <h2>Uploader un épisode</h2>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="uploadForm">
      <div>
        <mat-form-field>
          <input matInput formControlName="title" placeholder="Titre" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="filename" placeholder="Fichier" required readonly>
        </mat-form-field>
        <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput style="display: none">
        <button mat-button (click)="selectFile()">Selectionner</button>
        <audio style="display: none;" id="audioUpload" controls="controls">
          <source src='' type="audio/mp3" />
          Your browser does not support the code audio element.
        </audio>
      </div>
      <div>
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Description" required></textarea>
        </mat-form-field>
      </div>
      <div>
        <button [disabled]="!uploadForm.valid" color="accent" mat-raised-button (click)="sendFile()">Envoyer</button>
      </div>
      <mat-progress-bar *ngIf="(upload$ | async)" mode="indeterminate"></mat-progress-bar>
    </form>
  </mat-card-content>
</mat-card>
<mat-card style="background-color: gainsboro; margin-top: 20px;">
  <mat-card-header>
    <h2>Liens Spotify</h2>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let episode of episodes">
      <mat-form-field class="spotify-link-field">
        <input matInput placeholder="{{episode.title}}" required [(ngModel)]="episode.spotifyLink">
      </mat-form-field>
    </div>
    <p>Attention. Sur Spotify, "Partager" > "Copier le code embed" > Extraire l'URL et la coller ici. L'option "Copier le lien" ne
      donnera pas la bonne URL!</p>
    <button color="accent" mat-raised-button (click)="updateSpotifyLinks()">Valider</button>
  </mat-card-content>
</mat-card>
<mat-card style="background-color: gainsboro; margin-top: 20px;">
  <mat-card-header>
    <h2>RSS</h2>
  </mat-card-header>
  <mat-card-content>
    <button color="accent" mat-raised-button (click)="updateRss()">Update RSS</button>
    <a href="https://firebasestorage.googleapis.com/v0/b/cdn-lapointeducul.appspot.com/o/rss?alt=media"> RSS</a>
  </mat-card-content>
</mat-card>